<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Vigilantes</title>
</head>
<body>

    <h1>Cadastro de Vigilante</h1>

    <form method="POST">
        <label for="nome">Nome do Vigilante:</label>
        <input type="text" name="nome" required><br><br>
        
        <input type="submit" value="Cadastrar">
    </form>

    <br>
    <a href="/">Voltar para a página inicial</a>

</body>
</html>
